<!-- <div class="row">
  <div class="col-sm-2">
    <img src="assets/EcostructureLogo.PNG" />
  </div>
  <div class="col-sm-4"></div>
  <div class="col-sm-4">
    <img src="assets/SchneiderLogo.PNG" />
  </div>
</div> -->

<!-- <!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>
<body> -->


  <div class="row col-sm-12">
  <div class="col-sm-2">
    <img src="assets/EcostructureLogo.PNG" />
  </div>
  <div class="col-sm-7"></div>
  <div class="col-sm-3">
    <div class="row col-sm-12">
        <div class="col-sm-6">
          </div>
          <div class="col-sm-6">
              <img src="assets/SchneiderLogo.PNG" />
            </div>

    </div>

  </div>
</div>


<!-- </body>
</html> -->
