<div class="container-fluid" >
<div  style="margin-left: 3px" class="row">

    <div  class="col-1"  >
      Package List
    </div>

      <div  class="col-1 offset-10" >
        <img  src="../../assets/AddPackage.PNG" (click)="openModal()"/>
        </div>
  </div>
  <div  class="row">
  <div class="table-responsive" style="display: flex;justify-content: center">
    <table class="table table-hover table-sm align-self-auto " style="border: 1px lightgray solid ;max-width: 96%;">
        <thead>
        <tr style="background:#E6E6E6">
            <th class="tableHeader"><input type="checkbox" value=""  (change)="checkAll($event)">  Package Name</th>
            <th class="tableHeader">Device Family  </th>
            <th class="tableHeader">Product Family</th>
            <th class="tableHeader">Satus</th>
            <th class="tableHeader">View Details</th>
            <th> </th>
        </tr>
    </thead>
    <tbody>
      <tr *ngFor='let package of packages'>
        <td><input type="checkbox" value="" [checked]="package.checked" (change)="package.checked = !package.checked">  {{package.packageName }}</td>
        <td>{{package.deviceFamily}}</td>
        <td>{{package.productFamily}}</td>
        <td>
          <div [ngSwitch]="package.status">
              <a *ngSwitchCase="1" [routerLink]="">
                  Approve
               </a>
              <a *ngSwitchCase="1" [routerLink]="" style="margin-left: 15%">
               Reject
                 </a>
                 <div *ngSwitchCase="0" >
                    Approved
                 </div>
                 <div *ngSwitchCase="2" >
                    Rejected
                 </div>
          </div>

        </td>
        <td><a class="active"  (click)="getPackageDetails(package)">
          View
      </a></td>
        <td>
            <a [routerLink]="">
           <img  src="../../assets/download.PNG" /></a>

      </td>
    </tr>
    </tbody>
    </table>
</div>
</div>
</div>
<div>
    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-end">
          <li class="page-item disabled">
            <a class="page-link" href="#" tabindex="-1"><<</a>
          </li>
          <li class="page-item"><a class="page-link" href="#">1</a></li>
          <li class="page-item"><a class="page-link" href="#">2</a></li>
          <li class="page-item"><a class="page-link" href="#">3</a></li>
          <li class="page-item"><a class="page-link" href="#">4</a></li>
          <li class="page-item"><a class="page-link" href="#">...</a></li>
          <li class="page-item">
            <a class="page-link" href="#">>></a>
          </li>
        </ul>
      </nav>
</div>

<div class="row">

      <div class="col-1 offset-9" >
        <button  type="button"  style="background: #E6E6E6; margin-left: 1%"  class="btn" (click)="deletePackagesInBulk()">Delete</button>
      </div>
      <div class="col-1" >
        <button type="button" style="background: #E6E6E6;margin-left: 1%" class="btn" (click)="rejectPackagesInBulk()">Reject</button>
      </div>
      <div class="col-1" >
         <button type="button" style="background: #E6E6E6;margin-left: 1%" class="btn" (click)="approvePackagesInBulk()">Approve</button>
                </div>
  </div>

  <ng-template #addPackage let-c="close" let-d="dismiss">
      <div class="modal-header" style="background: #3DCD58; height:60px">
        <h2 class="modal-title pull-left" >Modal</h2>
        <button type="button" class="close pull-right" aria-label="Close" (click)="hidePopUp()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        This is a modal.
      </div>
    </ng-template>
