<!-- <div class="row">
<div class="row" style="background: green"></div> -->
<div style="background: green">
  <div class="text-white mainheader">View Details</div>
</div>
<div class="row">
<div class="col-6 headertext">Package 01 Details</div>
<div class="col-6 headertext">Device description details</div>
</div>

<div class="row">
  <div class="col-6">

    <div class="row bodytext">
      <div class="col-6">
        <div>Product Name:</div>
      </div>

      <div class="col-6">
        <div>{{PackageDetails.ProductName}}</div>
      </div>
      <div class="col-6">
        <div>Order Number:</div>
      </div>

      <div class="col-6">
        <div>{{PackageDetails.OrderNumber}}</div>
      </div>
      <div class="col-6">
        <div>HW Version:</div>
      </div>

      <div class="col-6">
        <div>{{PackageDetails.HWVersion}}</div>
      </div>
      <div class="col-6">
        <div>Product Family:</div>
      </div>

      <div class="col-6">
        <div>{{PackageDetails.ProductFamily}}</div>
      </div>
      <div class="col-6">
        <div>Device Family:</div>
      </div>

      <div class="col-6">
        <div>{{PackageDetails.DeviceFamily}}</div>
      </div>
      <div class="col-6">
        <div>Vendor:</div>
      </div>

      <div class="col-6">
        <div>{{PackageDetails.Vendor}}</div>
      </div>
      <div class="col-6">
        <div>Profile Type:</div>
      </div>

      <div class="col-6">
        <div>{{PackageDetails.ProfileType}}</div>
      </div>
      <div class="col-6">
        <div>State Description:</div>
      </div>

      <div class="col-6">
        <div>{{PackageDetails.StateDescription}}</div>
      </div>
      <div class="col-6">
        <div>Owner:</div>
      </div>

      <div class="col-6">
        <div>{{PackageDetails.Owner}}</div>
      </div>
      <div class="col-6">
        <div>Update Date:</div>
      </div>

      <div class="col-6">
        <div>{{PackageDetails.UpdateDate}}</div>
      </div>
    </div>
  </div>

  <div class="col-6">

    <div class="row bodytext">
      <div class="col-6">
        <div>Product ID:</div>
      </div>

      <div class="col-6">
        <div>{{PackageDetails.DeviceDescription.profuctId}}</div>
      </div>
      <div class="col-6">
        <div>SW Version:</div>
      </div>

      <div class="col-6">
        <div>{{PackageDetails.DeviceDescription.softwareVersion}}</div>
      </div>
      <div class="col-6">
        <div>FW Version:</div>
      </div>

      <div class="col-6">
        <div>{{PackageDetails.DeviceDescription.firwareVersion}}</div>
      </div>
      <div class="col-6">
        <div>File Version:</div>
      </div>

      <div class="col-6">
        <div>{{PackageDetails.DeviceDescription.fileVersion}}</div>
      </div>
      <div class="col-6">
        <div>Schema Version:</div>
      </div>

      <div class="col-6">
        <div>{{PackageDetails.DeviceDescription.schemaVersion}}</div>
      </div>
      <div class="col-6">
        <div>Complete Level:</div>
      </div>

      <div class="col-6">
        <div>{{PackageDetails.DeviceDescription.completeLevel}}</div>
      </div>
      <div class="col-6">
        <div>Communication:</div>
      </div>

      <div class="col-6">
        <div>{{PackageDetails.DeviceDescription.communication}}</div>
      </div>
      <div class="col-6">
        <div>File Name:</div>
      </div>
      <div class="col-6">
        <div>{{PackageDetails.DeviceDescription.fileName}}</div>
      </div>
    </div>
  </div>
  <!-- <div class="float-right">
      <button type="button" style="background: #E6E6E6" class="btn">AppCloserove</button>
  </div> -->
  <!-- </div>> -->
